In [2]:
import pandas as pd
import numpy as np

In [3]:
#fp2 = pd.read_table("/DAS_Storage1/aschoi/data/Drug_Repositioning/5_new_drug/new_predict/3_drug_fp2_fps.tsv", index_col=0)
#mac = pd.read_table("/DAS_Storage1/aschoi/data/Drug_Repositioning/5_new_drug/new_predict/3_drug_maccs_fps.tsv", index_col=0)
sim = pd.read_table("/DAS_Storage1/aschoi/data/Drug_Repositioning/5_new_drug/new_predict/1_drug_drug_str_sim_mat.tsv", index_col=0)
#miner = pd.read_table("/DAS_Storage1/aschoi/data/Drug_Repositioning/6_new_disease/new_predict/1_disease_disease_phe_sim_mat.tsv", index_col=0)

In [4]:
path = "/DAS_Storage1/aschoi/data/Drug_Repositioning/8_new_training/1_feature_based-Systematic/4_PREDICT_dataset_ver2/"
desc_multi = pd.read_table(path + "1_gold_descriptor.tsv", index_col=[0,1])

In [5]:
print len(desc_multi)
print len(desc_multi.index.get_level_values(0).drop_duplicates())
print len(desc_multi.index.get_level_values(1).drop_duplicates())
desc_multi.head(1)

99493
434
233

,,association,C0000727,C0000731,C0000737,C0000768,C0000772,C0000786,C0000814,C0000832,C0000833,...,387585,388165,55219,55973,65264,80350,84624,84722,91851,406216
drug_id,disease_id,,,,,,,,,,,,,,,,,,,,,
DB00659,103780,1,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [284]:
# maccs를 descriptor에 추가한다.
mac_fp = mac[mac.columns.tolist()[:-1]]
mac_fp.index.name = 'drug_id' # drug_id로 join하기 위해 set해줌

In [285]:
mac_desc = desc_multi.join(mac_fp) # index인 drug__id로 left join을 하게됨.
print len(mac_desc)
mac_desc.head(2)

99493

,,association,C0000727,C0000731,C0000737,C0000768,C0000772,C0000786,C0000814,C0000832,C0000833,...,MACCS_157,MACCS_158,MACCS_159,MACCS_160,MACCS_161,MACCS_162,MACCS_163,MACCS_164,MACCS_165,MACCS_166
drug_id,disease_id,,,,,,,,,,,,,,,,,,,,,
DB00659,103780,1,0,1,0,0,0,0,0,0,0,...,0,1,1,1,1,0,0,1,0,0
DB01193,608622,1,0,1,1,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,0

In [287]:
mac_desc.to_csv("/DAS_Storage1/aschoi/data/Drug_Repositioning/8_new_training/new_predict/feature_based/3_gold_MACCS_descriptor.tsv", sep='\t')

In [288]:
# fp2를 descriptor에 추가한다.
fp2_fp = fp2[fp2.columns.tolist()[:-1]]
fp2_fp.index.name = 'drug_id' # drug_id로 join하기 위해 set해줌

In [289]:
fp2_desc = desc_multi.join(fp2_fp) # index인 drug__id로 left join을 하게됨.
print len(fp2_desc)
fp2_desc.head(2)

99493

,,association,C0000727,C0000731,C0000737,C0000768,C0000772,C0000786,C0000814,C0000832,C0000833,...,FP2_1015,FP2_1016,FP2_1017,FP2_1018,FP2_1019,FP2_1020,FP2_1021,FP2_1022,FP2_1023,FP2_1024
drug_id,disease_id,,,,,,,,,,,,,,,,,,,,,
DB00659,103780,1,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
DB01193,608622,1,0,1,1,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0

In [291]:
fp2_desc.to_csv("/DAS_Storage1/aschoi/data/Drug_Repositioning/8_new_training/new_predict/feature_based/4_gold_FP2_descriptor.tsv", sep='\t')

In [ ]:
# structure similarities를 descriptor에 추가한다.

In [8]:
sim.head(1)

,DB00114,DB00126,DB00136,DB00153,DB00162,DB00165,DB00175,DB00176,DB00177,DB00178,...,DB01576,DB01577,DB01590,DB01623,DB02546,DB03904,DB04272,DB04844,DB04861,DB09026
drug_id,,,,,,,,,,,,,,,,,,,,,
DB00114,1.0,0.087248,0.030534,0.030769,0.04065,0.646465,0.075,0.15894,0.16568,0.127907,...,0.089286,0.086207,0.085202,0.091371,0.111111,0.010204,0.061947,0.146067,0.123529,0.156977

In [7]:
sim.index.name = 'drug_id'

In [9]:
sim_desc = desc_multi.join(sim)
print len(sim_desc)
sim_desc.head(2)

99493

,,association,C0000727,C0000731,C0000737,C0000768,C0000772,C0000786,C0000814,C0000832,C0000833,...,DB01576,DB01577,DB01590,DB01623,DB02546,DB03904,DB04272,DB04844,DB04861,DB09026
drug_id,disease_id,,,,,,,,,,,,,,,,,,,,,
DB00659,103780,1,0,1,0,0,0,0,0,0,0,...,0.083333,0.131148,0.114458,0.120567,0.162500,0.076923,0.067797,0.105263,0.107438,0.126984
DB01193,608622,1,0,1,1,0,0,0,0,0,0,...,0.189189,0.214286,0.183099,0.153846,0.344538,0.028302,0.101695,0.266272,0.456522,0.331210

In [183]:
sim_desc.to_csv("/DAS_Storage1/aschoi/data/Drug_Repositioning/8_new_training/new_predict/feature_based/5_gold_strSim_descriptor.tsv", sep='\t')

In [ ]:
# mimMiner를 descriptor에 추가한다.

In [185]:
miner.index.name = 'disease_id'

In [189]:
miner_desc = desc_multi.join(miner)
print len(miner_desc)
miner_desc.head(2)

99493

,,association,C0000727,C0000731,C0000737,C0000768,C0000772,C0000786,C0000814,C0000832,C0000833,...,173200,115195,256700,601608,194070,115300,277350,240400,206200,250790
drug_id,disease_id,,,,,,,,,,,,,,,,,,,,,
DB00659,103780,1,0,1,0,0,0,0,0,0,0,...,0.031407,0.150525,0.136234,0.160480,0.123310,0.178678,0.141056,0.200361,0.162371,0.187959
DB01193,608622,1,0,1,1,0,0,0,0,0,0,...,0.046228,0.168139,0.152600,0.033908,0.105949,0.217154,0.132708,0.169155,0.254315,0.107550

In [190]:
miner_desc.to_csv("/DAS_Storage1/aschoi/data/Drug_Repositioning/8_new_training/new_predict/feature_based/6_gold_mimMiner_descriptor.tsv", sep='\t')

In [ ]:
gold와 indep의 column 순서가 같은지 확인해봐야함. --> 같음

In [ ]:
# indep의 descriptor 만들기

In [11]:
path = "/DAS_Storage1/aschoi/data/Drug_Repositioning/8_new_training/1_feature_based-Systematic/4_PREDICT_dataset_ver2/"
indep = pd.read_table(path+"2_indep_descriptor.tsv", index_col = [0,1])

In [318]:
#indep의 mac descriptor
mac_indep = indep.join(mac_fp) # index인 drug__id로 left join을 하게됨.
print len(mac_indep)
mac_indep.head(2)

2399

                    association  C0000727  C0000731  C0000737  C0000768  \
drug_id disease_id
DB01200 102300                1         0         0         1         0
        103780                0         0         0         1         0

                    C0000772  C0000786  C0000814  C0000832  C0000833  \
drug_id disease_id
DB01200 102300             0         0         0         0         0
        103780             0         0         0         0         0

                      ...      MACCS_157  MACCS_158  MACCS_159  MACCS_160  \
drug_id disease_id    ...
DB01200 102300        ...              1          1          1          1
        103780        ...              1          1          1          1

                    MACCS_161  MACCS_162  MACCS_163  MACCS_164  MACCS_165  \
drug_id disease_id
DB01200 102300              1          1          1          1          1
        103780              1          1          1          1          1

                    MACCS_166
drug_id disease_id
DB01200 102300              0
        103780              0

[2 rows x 5532 columns]

In [319]:
mac_indep.isnull().any().any()

False

In [320]:
mac_indep.to_csv("/DAS_Storage1/aschoi/data/Drug_Repositioning/8_new_training/new_predict/feature_based/3_2_indep_MACCS_descriptor.tsv", sep='\t')

In [303]:
# indep의 fp2 descriptor
fp2_indep = indep.join(fp2_fp) # index인 drug__id로 left join을 하게됨.
print len(fp2_indep)
print fp2_indep.isnull().any().any()
fp2_indep.head(2)
fp2_indep.to_csv("/DAS_Storage1/aschoi/data/Drug_Repositioning/8_new_training/new_predict/feature_based/4_2_indep_FP2_descriptor.tsv", sep='\t')

2399
False

In [20]:
# indep의 structure sim descriptor 
#indep_sim = pd.read_table("/DAS_Storage1/aschoi/data/Drug_Repositioning/5_new_drug/new_predict/2_indep_drug_drug_str_sim_mat.tsv", index_col = 0)
indep_sim = pd.read_table("/DAS_Storage1/aschoi/data/Drug_Repositioning/5_new_drug/new_predict/2_2_2_indep_drug_gold_drug_str_sim_mat.tsv", index_col = 0)

In [25]:
path = "/DAS_Storage1/aschoi/data/Drug_Repositioning/8_new_training/1_feature_based-Systematic/4_PREDICT_dataset_ver2/2_similarity/Structure/"
sim_desc = pd.read_table(path + "5_gold_strSim_descriptor.tsv", index_col=[0,1])

In [21]:
indep_dr_id = indep_sim.index.tolist()
gold_dr_id = sim.index.tolist()
print len(indep_dr_id)
print len(gold_dr_id)

71
434

In [43]:
#gold의 column 순서와 indep의 column 순서가 같은지 확인
indep_sim = indep_sim[sim.columns.values.tolist()]
sim.columns.values.tolist() == indep_sim.columns.values.tolist()

True

In [50]:
sim_indep = indep.join(indep_sim)
print len(sim_indep)
print sim_indep.isnull().any().any()
print sim_indep.columns.values.tolist() == sim_desc.columns.values.tolist()
sim_indep.head(2)
#sim_indep.to_csv("/DAS_Storage1/aschoi/data/Drug_Repositioning/8_new_training/new_predict/feature_based/5_2_indep_strSim_descriptor.tsv", sep='\t')
sim_indep.to_csv(path + "5_2_indep_strSim_descriptor.tsv", sep='\t')

2399
False
True

In [196]:
# indep의 disease sim descriptor
miner_indep = indep.join(miner)
print len(miner_indep)
miner_indep.head(2)
miner_indep.to_csv("/DAS_Storage1/aschoi/data/Drug_Repositioning/8_new_training/new_predict/feature_based/6_2_indep_mimMiner_descriptor.tsv", sep='\t')

2399