In [19]:
import pandas as pd
import numpy as np
from datetime import datetime

In [20]:
gold = pd.read_table("/DAS_Storage1/aschoi/data/Drug_Repositioning/8_new_training/new_predict/2_3_gold_descriptor.tsv")
indep = pd.read_table("/DAS_Storage1/aschoi/data/Drug_Repositioning/8_new_training/new_predict/3_2_indep_descriptor.tsv")

In [21]:
gold.head(1)

,drug_id,disease_id,association,drStr_diGe,drStr_diPhe,drPhe_diGe,drPhe_diPhe
0,DB00114,102300,0,0.983534,0.429415,0.983534,0.943927

In [22]:
row

drug1           DB01620
disease1         607850
association           0
drStr_diGe     0.979048
drStr_diPhe    0.546869
drPhe_diGe     0.979356
drPhe_diPhe    0.979356
Name: 2398, dtype: object

In [33]:
temp = pd.DataFrame()
cnt = 0
print len(indep)
print 'start : ' + datetime.now().strftime('%Y-%m-%d %H:%M:%S')
for index, row in indep.iterrows():
    dr_id = row['drug_id']
    di_id = row['disease_id']
    found = gold[(gold.drug_id == dr_id) & (gold.disease_id == di_id)]
    if len(found) != 0:
        temp = temp.append(found)
    cnt = cnt + 1
    if cnt % 1000 == 0:
        print "cnt : {} : ".format(cnt) + datetime.now().strftime('%Y-%m-%d %H:%M:%S')
print 'end : ' + datetime.now().strftime('%Y-%m-%d %H:%M:%S')

2399
start : 2017-04-14 16:45:10
cnt : 1000 : 2017-04-14 16:45:16
cnt : 2000 : 2017-04-14 16:45:23
end : 2017-04-14 16:45:26

In [25]:
prev_indep = pd.read_table("/DAS_Storage1/aschoi/data/Drug_Repositioning/8_new_training/PREDICT_data/2_2_indep_descriptor.tsv")

In [27]:
prev_indep[(prev_indep.drug_id == 'DB01200') & (prev_indep.disease_id == 102300)]

,drug_id,disease_id,association,C0000727,C0000731,C0000737,C0000768,C0000772,C0000786,C0000814,...,387585,388165,55219,55973,65264,80350,84624,84722,91851,406216
0,DB01200,102300,1,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [28]:
indep[(indep.drug_id == 'DB01200') & (indep.disease_id == 102300)]

,drug_id,disease_id,association,drStr_diGe,drStr_diPhe,drPhe_diGe,drPhe_diPhe
2094,DB01200,102300,1,0.828459,0.32257,0.972986,0.423237

In [47]:
# 현재 indep의 association 정보가 제대로 된건지 확인
temp = pd.DataFrame()
for index, row in indep.iterrows():
    dr_id = row['drug_id']
    di_id = row['disease_id']
    asso = row['association']
    found = prev_indep[(prev_indep.drug_id == dr_id) & (prev_indep.disease_id == di_id)]
    if found.empty:
        continue
    else:
        for index2, row2 in found.iterrows():
            if row2['association'] == asso:
                continue
            else:
                print dr_id, di_id, asso

In [48]:
found

,drug_id,disease_id,association,C0000727,C0000731,C0000737,C0000768,C0000772,C0000786,C0000814,...,387585,388165,55219,55973,65264,80350,84624,84722,91851,406216
2293,DB01620,607850,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [49]:
asso

0

In [50]:
found['association'] == asso

2293    True
Name: association, dtype: bool