In [1]:
import pandas as pd
import numpy as np
from itertools import product
from datetime import datetime

In [8]:
gold_asso = pd.read_table("/DAS_Storage1/aschoi/data/Drug_Repositioning/7_new_association/PREDICT_data/2_2_gold_learning_asso.tsv")
indep_asso = pd.read_table("/DAS_Storage1/aschoi/data/Drug_Repositioning/7_new_association/PREDICT_data/3_2_indep_learning_asso.tsv")

In [6]:
print len(gold_asso)
print len(gold_asso[gold_asso.association ==1])
print len(gold_asso[gold_asso.association ==0])

103146
1362
101784

In [19]:
drug_se = pd.read_table("/DAS_Storage1/aschoi/data/Drug_Repositioning/5_new_drug/PREDICT_data/4_gold_se_by_indep.tsv")
indep_se = pd.read_table("/DAS_Storage1/aschoi/data/Drug_Repositioning/5_new_drug/PREDICT_data/3_indep_drug_se.tsv")
di_ge = pd.read_table("/DAS_Storage1/aschoi/data/Drug_Repositioning/6_new_disease/8_gold_standard_disease_binary_matrix.tsv", index_col = 0)

In [11]:
drug_se.head(2)

  DrugBank_ID   umls_id                 event
0     DB00215  C0000737        Abdominal pain
1     DB00215  C0000786  Abortion spontaneous

In [20]:
print len(drug_se['umls_id'].drop_duplicates())
print len(indep_se['umls_id'].drop_duplicates())

1844
1844

In [ ]:
drug-se binary matrix 만들기

In [33]:
umls_ids = drug_se['umls_id'].sort_values().drop_duplicates()
gold_drug = drug_se['DrugBank_ID'].drop_duplicates()
indep_drug = indep_se['DrugBank_ID'].drop_duplicates()

In [32]:
binary_drug = pd.DataFrame(columns=gold_drug.tolist(), index=umls_ids.tolist())
binary_drug = binary_drug.fillna(0)
print len(binary_drug)
binary_drug.head(1)

1844

,DB00215,DB01327,DB00537,DB00175,DB00181,DB00257,DB00343,DB01128,DB00678,DB00808,...,DB01033,DB01254,DB01261,DB00323,DB00287,DB00905,DB01088,DB01268,DB09026,DB01590
C0000727,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [47]:
f = lambda x: 1 if x else 0
    
for dg_id in gold_drug:
    dg_df = drug_se[drug_se.DrugBank_ID == dg_id]
    umls_id = dg_df['umls_id']
    flags = umls_ids.isin(umls_id)
    oz_flags = map(f, flags)
    binary_drug[dg_id] = oz_flags

In [43]:
binary_drug.to_csv("/DAS_Storage1/aschoi/data/Drug_Repositioning/5_new_drug/PREDICT_data/4_2_gold_se_by_indep_matrix.tsv", sep='\t')
binary_drug.to_csv("/home/share/aschoi/nas/users/asolchoi/data/Drug_Repositioning/5_new_drug/PREDICT_data/4_2_gold_se_by_indep_matrix.tsv", sep='\t')

In [ ]:
indep drug-se binary matrix 만들기

In [44]:
binary_indep = pd.DataFrame(columns=indep_drug.tolist(), index = umls_ids.tolist())
binary_indep = binary_indep.fillna(0)
print len(binary_indep)
binary_indep.head(1)

1844

,DB00125,DB00136,DB00153,DB00176,DB00193,DB00195,DB00253,DB00280,DB00283,DB00286,...,DB01195,DB01200,DB01210,DB01254,DB01393,DB01399,DB01410,DB01586,DB01611,DB01620
C0000727,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [46]:
f = lambda x: 1 if x else 0
    
for dg_id in indep_drug:
    dg_df = indep_se[indep_se.DrugBank_ID == dg_id]
    umls_id = dg_df['umls_id']
    flags = umls_ids.isin(umls_id)
    oz_flags = map(f, flags)
    binary_indep[dg_id] = oz_flags

In [49]:
binary_indep.to_csv("/DAS_Storage1/aschoi/data/Drug_Repositioning/5_new_drug/PREDICT_data/3_indep_drug_se_matrix.tsv", sep='\t')
binary_indep.to_csv("/home/share/aschoi/nas/users/asolchoi/data/Drug_Repositioning/5_new_drug/PREDICT_data/3_indep_drug_se_matrix.tsv", sep='\t')

In [ ]:
drug-indication binary matrix 만들기

In [2]:
gold_asso = pd.read_table("/DAS_Storage1/aschoi/data/Drug_Repositioning/7_new_association/PREDICT_data/6_3_gold_learning_asso_indi.tsv")
indep_asso = pd.read_table("/DAS_Storage1/aschoi/data/Drug_Repositioning/7_new_association/PREDICT_data/7_2_indep_learning_asso_indi.tsv")

In [3]:
print len(gold_asso)
print len(gold_asso[gold_asso.association ==1])
print len(gold_asso[gold_asso.association ==0])

88885
1253
87632

In [4]:
drug_indi = pd.read_table("/DAS_Storage1/aschoi/data/Drug_Repositioning/5_new_drug/sider_indication/3_3_gold_indication_indep_ver.tsv")
indep_indi = pd.read_table("/DAS_Storage1/aschoi/data/Drug_Repositioning/5_new_drug/sider_indication/4_indep_indication.tsv")

In [6]:
drug_indi.head(2)

  DrugBank_ID UMLS_concept_id_for_MedDRA MedDRA_concept_name
0     DB00958                   C0002792  Anaphylactic shock
1     DB00958                   C0006118      Brain neoplasm

In [8]:
print len(drug_indi['UMLS_concept_id_for_MedDRA'].drop_duplicates())
print len(indep_indi['UMLS_concept_id_for_MedDRA'].drop_duplicates())

518
557

In [18]:
umls_ids = drug_indi['UMLS_concept_id_for_MedDRA'].drop_duplicates().sort_values().drop_duplicates()
gold_drug = drug_indi['DrugBank_ID'].drop_duplicates()
indep_drug = indep_indi['DrugBank_ID'].drop_duplicates()

In [19]:
binary_drug = pd.DataFrame(columns=gold_drug.tolist(), index=umls_ids.tolist())
binary_drug = binary_drug.fillna(0)
print len(binary_drug)
binary_drug.head(1)

518

,DB00958,DB00559,DB00320,DB00165,DB00790,DB01577,DB00583,DB00820,DB03904,DB01267,...,DB00998,DB00216,DB00307,DB00180,DB00696,DB00353,DB01378,DB00627,DB01223,DB00324
C0000731,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [22]:
f = lambda x: 1 if x else 0
    
for dg_id in gold_drug:
    dg_df = drug_indi[drug_indi.DrugBank_ID == dg_id]
    umls_id = dg_df['UMLS_concept_id_for_MedDRA']
    flags = umls_ids.isin(umls_id)
    oz_flags = map(f, flags)
    binary_drug[dg_id] = oz_flags

In [27]:
binary_drug.to_csv("/DAS_Storage1/aschoi/data/Drug_Repositioning/5_new_drug/sider_indication/3_4_gold_indi_matrix.tsv", sep='\t')
binary_drug.to_csv("/home/share/aschoi/nas/users/asolchoi/data/Drug_Repositioning/5_new_drug/sider_indication/3_4_gold_indi_matrix.tsv", sep='\t')

In [ ]:
indep -indication matrix 만들기

In [24]:
binary_indep = pd.DataFrame(columns=indep_drug.tolist(), index = umls_ids.tolist())
binary_indep = binary_indep.fillna(0)
print len(binary_indep)
binary_indep.head(1)

518

,DB01586,DB00320,DB00909,DB00967,DB00882,DB00341,DB00125,DB01100,DB00819,DB00915,...,DB00376,DB00860,DB00421,DB00635,DB01085,DB00528,DB00959,DB01410,DB00852,DB00998
C0000731,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [26]:
f = lambda x: 1 if x else 0
    
for dg_id in indep_drug:
    dg_df = indep_indi[indep_indi.DrugBank_ID == dg_id]
    umls_id = dg_df['UMLS_concept_id_for_MedDRA']
    flags = umls_ids.isin(umls_id)
    oz_flags = map(f, flags)
    binary_indep[dg_id] = oz_flags

In [28]:
binary_indep.to_csv("/DAS_Storage1/aschoi/data/Drug_Repositioning/5_new_drug/sider_indication/4_2_indep_indi_matrix.tsv", sep='\t')
binary_indep.to_csv("/home/share/aschoi/nas/users/asolchoi/data/Drug_Repositioning/5_new_drug/sider_indication/4_2_indep_indi_matrix.tsv", sep='\t')