In [1]:
import pandas as pd
import numpy as np
from itertools import product
from datetime import datetime

In [2]:
#gold_asso = pd.read_table("/DAS_Storage1/aschoi/data/Drug_Repositioning/7_new_association/PREDICT_data/2_2_gold_learning_asso.tsv")
#indep_asso = pd.read_table("/DAS_Storage1/aschoi/data/Drug_Repositioning/7_new_association/PREDICT_data/3_2_indep_learning_asso.tsv")
gold_asso = pd.read_table("/DAS_Storage1/aschoi/data/Drug_Repositioning/7_new_association/PREDICT_data/6_3_gold_learning_asso_indi.tsv")
indep_asso = pd.read_table("/DAS_Storage1/aschoi/data/Drug_Repositioning/7_new_association/PREDICT_data/7_2_indep_learning_asso_indi.tsv")
drug = pd.read_table("/DAS_Storage1/aschoi/data/Drug_Repositioning/5_new_drug/PREDICT_data/4_2_gold_se_by_indep_matrix.tsv", index_col = 0)
disease = pd.read_table("/DAS_Storage1/aschoi/data/Drug_Repositioning/6_new_disease/8_gold_standard_disease_binary_matrix.tsv", index_col = 0)
indi = pd.read_table("/DAS_Storage1/aschoi/data/Drug_Repositioning/5_new_drug/sider_indication/3_4_gold_indi_matrix.tsv", index_col=0)

In [3]:
print len(gold_asso)
gold_asso.head(1)

88885

   association  disease_id  drug_id
0            1      103780  DB00659

In [4]:
print len(drug)
drug.head(1)

1844

,DB00215,DB01327,DB00537,DB00175,DB00181,DB00257,DB00343,DB01128,DB00678,DB00808,...,DB01033,DB01254,DB01261,DB00323,DB00287,DB00905,DB01088,DB01268,DB09026,DB01590
C0000727,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0

In [5]:
print len(disease)
disease.head(1)

3521

,102300,102400,102500,103780,104130,104300,106400,107650,109100,109200,...,607631,607681,607682,607850,608088,608105,608217,608320,608583,608622
100188812,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
print len(indi)
indi.head(1)

518

,DB00958,DB00559,DB00320,DB00165,DB00790,DB01577,DB00583,DB00820,DB03904,DB01267,...,DB00998,DB00216,DB00307,DB00180,DB00696,DB00353,DB01378,DB00627,DB01223,DB00324
C0000731,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [7]:
start = 60001
end = 70001
cnt = start
arr = np.empty((0,5883), dtype=np.int64)
arr = np.hstack((['drug_id', 'disease_id', 'association', drug.index, disease.index, indi.index]))
print "start : %d : " % cnt + datetime.now().strftime('%Y-%m-%d %H:%M:%S')
for i in gold_asso.values[start:end]:
    association = i[0]
    disease_id = i[1]
    drug_id = i[2]
    feature = np.hstack([drug_id, disease_id, association, drug[drug_id], disease[str(disease_id)], indi[drug_id]])
    arr = np.vstack([arr, feature])
    cnt = cnt + 1
    if cnt % 1000 == 0:
        print "%d : " % cnt + datetime.now().strftime('%Y-%m-%d %H:%M:%S')
print "end : %d : " % cnt + datetime.now().strftime('%Y-%m-%d %H:%M:%S')
print cnt
print arr.shape
df_arr = pd.DataFrame(data = arr[1:],columns = arr[0])
df_arr.to_csv("/DAS_Storage1/aschoi/data/Drug_Repositioning/8_new_training/PREDICT_data/3_1_gold_indi_descriptor_{}_{}tsv".format(start, end-1), sep='\t', index = False)

start : 60001 : 2017-03-28 01:46:09
61000 : 2017-03-28 01:46:29
62000 : 2017-03-28 01:47:23
63000 : 2017-03-28 01:48:51
64000 : 2017-03-28 01:50:53
65000 : 2017-03-28 01:53:28
66000 : 2017-03-28 01:56:38
67000 : 2017-03-28 02:00:19
68000 : 2017-03-28 02:04:32
69000 : 2017-03-28 02:09:16
70000 : 2017-03-28 02:14:41
end : 70001 : 2017-03-28 02:14:41
70001
(10001, 5886)

In [8]:
df_arr.to_csv("/DAS_Storage1/aschoi/data/Drug_Repositioning/8_new_training/PREDICT_data/2_1_gold_descriptor_{}_{}.tsv".format(start, end-1), sep='\t', index = False)

In [9]:
arr1 = pd.read_table("/DAS_Storage1/aschoi/data/Drug_Repositioning/8_new_training/PREDICT_data/2_1_gold_descriptor_0_10000.tsv")
arr2 = pd.read_table("/DAS_Storage1/aschoi/data/Drug_Repositioning/8_new_training/PREDICT_data/2_1_gold_descriptor_10001_20000.tsv")
arr3 = pd.read_table("/DAS_Storage1/aschoi/data/Drug_Repositioning/8_new_training/PREDICT_data/2_1_gold_descriptor_20001_30000.tsv")
arr4 = pd.read_table("/DAS_Storage1/aschoi/data/Drug_Repositioning/8_new_training/PREDICT_data/2_1_gold_descriptor_30001_40000.tsv")
arr5 = pd.read_table("/DAS_Storage1/aschoi/data/Drug_Repositioning/8_new_training/PREDICT_data/2_1_gold_descriptor_40001_50000.tsv")
arr6 = pd.read_table("/DAS_Storage1/aschoi/data/Drug_Repositioning/8_new_training/PREDICT_data/2_1_gold_descriptor_50001_60000.tsv")
arr7 = pd.read_table("/DAS_Storage1/aschoi/data/Drug_Repositioning/8_new_training/PREDICT_data/2_1_gold_descriptor_60001_70000.tsv")
arr8 = pd.read_table("/DAS_Storage1/aschoi/data/Drug_Repositioning/8_new_training/PREDICT_data/2_1_gold_descriptor_70001_80000.tsv")
arr9 = pd.read_table("/DAS_Storage1/aschoi/data/Drug_Repositioning/8_new_training/PREDICT_data/2_1_gold_descriptor_80001_90000.tsv")
arr10 = pd.read_table("/DAS_Storage1/aschoi/data/Drug_Repositioning/8_new_training/PREDICT_data/2_1_gold_descriptor_90001_100000.tsv")
arr11 = pd.read_table("/DAS_Storage1/aschoi/data/Drug_Repositioning/8_new_training/PREDICT_data/2_1_gold_descriptor_100001_103145.tsv")

In [12]:
frames = [arr1, arr2, arr3, arr4, arr5, arr6, arr7, arr8, arr9, arr10, arr11]
df_arr_all = pd.concat(frames , axis=0)
print len(df_arr_all)
df_arr_all.head(1)

103146

,drug_id,disease_id,association,C0000727,C0000731,C0000737,C0000768,C0000772,C0000786,C0000814,...,387585,388165,55219,55973,65264,80350,84624,84722,91851,406216
0,DB00659,103780,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [14]:
df_arr_all.to_csv("/DAS_Storage1/aschoi/data/Drug_Repositioning/8_new_training/PREDICT_data/2_1_gold_descriptor_combined.tsv", sep = '\t', index = False)

In [16]:
indep_drug = pd.read_table("/DAS_Storage1/aschoi/data/Drug_Repositioning/5_new_drug/PREDICT_data/3_indep_drug_se_matrix.tsv")

In [20]:
#independent
start = 0
end = len(indep_asso)
cnt = start
indep_arr = np.empty((0,5365), dtype=np.int64)
indep_arr = np.hstack((['drug_id', 'disease_id', 'association', drug.index, disease.index]))
print end
print "start : %d : " % cnt + datetime.now().strftime('%Y-%m-%d %H:%M:%S')
for i in indep_asso.values[start:end]:
    association = i[2]
    disease_id = i[1]
    drug_id = i[0]
    feature = np.hstack([drug_id, disease_id, association, indep_drug[drug_id], disease[str(disease_id)]])
    indep_arr = np.vstack([indep_arr, feature])
    cnt = cnt + 1
    if cnt % 1000 == 0:
        print "%d : " % cnt + datetime.now().strftime('%Y-%m-%d %H:%M:%S')
print "end : %d : " % cnt + datetime.now().strftime('%Y-%m-%d %H:%M:%S')
print cnt
print indep_arr.shape
df_indep_arr = pd.DataFrame(data = indep_arr[1:],columns = indep_arr[0])
df_indep_arr.to_csv("/DAS_Storage1/aschoi/data/Drug_Repositioning/8_new_training/PREDICT_data/2_2_indep_descriptor.tsv", sep='\t', index = False)

2539
start : 0 : 2017-03-27 20:01:06
1000 : 2017-03-27 20:01:19
2000 : 2017-03-27 20:02:01
end : 2539 : 2017-03-27 20:02:36
2539
(2540, 5368)