In [43]:
import numpy as np
import pandas as pd
import time
from __future__ import division

In [2]:
gold = pd.read_table("/DAS_Storage1/aschoi/data/Drug_Repositioning/8_new_training/2_1_descriptor_combined.tsv")
pos_feature_sum = pd.read_table("/DAS_Storage1/aschoi/data/Drug_Repositioning/8_new_training/3_2_pos_feature_sum.tsv", header=None)
neg_feature_sum = pd.read_table("/DAS_Storage1/aschoi/data/Drug_Repositioning/8_new_training/3_1_neg_feature_sum.tsv", header=None)

In [30]:
pos_feature_sum = pos_feature_sum.rename(columns = {0:'feature', 1:'sum'})
neg_feature_sum = neg_feature_sum.rename(columns = {0:'feature', 1:'sum'})

In [79]:
pos_gold = gold[gold.association == 1]
neg_gold = gold[gold.association == 0]

In [ ]:
from sklearn.metrics import jaccard_similarity_score
df_jac = pd.DataFrame()
cnt = 0
print time.strftime('%a %H:%M:%S')
for index, row in pos_gold.iterrows():
    li_row = row.tolist()
    drug = li_row[0]
    disease = li_row[1]
    desc1 = li_row[2:]
    for index2, row2 in neg_gold.iterrows():
        li_row2 = row2.tolist()
        drug2 = li_row2[0]
        disease2 = li_row2[1]
        desc2 = li_row2[2:]
        
        jac_sim = jaccard_similarity_score(desc1,desc2)
        
        temp_df = pd.DataFrame([[drug, disease, drug2, disease2,jac_sim]], columns = ['Pos_Drug', 'Pos_Disease', 'Neg_Drug', 'Neg_disease', 'Sim_scrore'])
        df_jac = df_jac.append(temp_df)
        cnt = cnt + 1
        if cnt % 10000 == 0 :
            print "{} : ".format(cnt) + time.strftime('%a %H:%M:%S')
print time.strftime('%a %H:%M:%S')

In [ ]:
cnt

In [81]:
pos_gold.head(1)

,drug_id,disease_id,association,C0000737,C0000786,C0001824,C0002170,C0002453,C0002622,C0002792,...,387585,388165,55219,55973,65264,80350,84624,84722,91851,406216
0,DB00190,102300,1,1,0,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [80]:
pos_gold.head()

,drug_id,disease_id,association,C0000737,C0000786,C0001824,C0002170,C0002453,C0002622,C0002792,...,387585,388165,55219,55973,65264,80350,84624,84722,91851,406216
0,DB00190,102300,1,1,0,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
25,DB00190,125320,1,1,0,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
89,DB00190,168100,1,1,0,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
90,DB00190,168600,1,1,0,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
235,DB00193,102300,1,1,0,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
pos_gold.groupby()

In [56]:
#pos_feature_sum, neg_feature_sum을 descriptor 순서로
sorter = gold.columns[3:].tolist()
neg_feature_sum.feature = neg_feature_sum.feature.astype("category")
neg_feature_sum.feature.cat.set_categories(sorter, inplace=True)
neg_feature_sum = neg_feature_sum.sort_values(["feature"])

pos_feature_sum.feature = pos_feature_sum.feature.astype("category")
pos_feature_sum.feature.cat.set_categories(sorter, inplace=True)
pos_feature_sum = pos_feature_sum.sort_values(["feature"])

In [65]:
#### Labplace Smoothing
numP = 1434 # len(gold[gold.association==1]) #1434
numN = 109251#len(gold[gold.association==0]) #109,251
LapP = (numP +1) / (numP + numN + 2)
LapN = (numN +1 ) / (numP + numN + 2)

In [67]:
# P(Feature | Positive), P(Feature | Negative)
LapF_P = (pos_feature_sum['sum'] + 1) / (numP + 2)
LapF_N = (neg_feature_sum['sum'] + 1) / (numN + 2)

In [68]:
# P(Positive | Featue), P(Negative | Feature) : positive일 경우  (LapF_P * LapP) / (LapF_P * LapP + LapF_N + LapN)
LapP_F = (LapF_P * LapP) / (LapF_P * LapP + LapF_N * LapN)
LapN_F = (LapF_N * LapN) / (LapF_P * LapP + LapF_N * LapN)

In [70]:
LapP_F.max()

0.024828070325270263

In [74]:
LapN_F.max()

0.9956074031354738

In [76]:
LapP_F

0       0.013391
1       0.013605
2       0.013298
3       0.013486
4       0.013492
5       0.013504
6       0.013476
7       0.013801
8       0.013787
9       0.013774
10      0.013778
11      0.013567
12      0.013486
13      0.013657
14      0.013777
15      0.013539
16      0.014147
17      0.014122
18      0.014232
19      0.014189
20      0.014019
21      0.014044
22      0.013852
23      0.013814
24      0.013707
25      0.013756
26      0.014105
27      0.014170
28      0.014175
29      0.014143
          ...
5767    0.008469
5768    0.008469
5769    0.008469
5770    0.008469
5771    0.008469
5772    0.008469
5773    0.008469
5774    0.008505
5775    0.008505
5776    0.008505
5777    0.008505
5778    0.008505
5779    0.008505
5780    0.008505
5781    0.008505
5782    0.008505
5783    0.008505
5784    0.008541
5785    0.008541
5786    0.008541
5787    0.008541
5788    0.008541
5789    0.008578
5790    0.008578
5791    0.008578
5792    0.008578
5793    0.008615
5794    0.008615
5795    0.008652
5796    0.008963
Name: sum, dtype: float64