In [19]:
import pandas as pd
import numpy as np
from datetime import datetime

In [20]:
gold = pd.read_table("/DAS_Storage1/aschoi/data/Drug_Repositioning/8_new_training/new_predict/2_3_gold_descriptor.tsv")
indep = pd.read_table("/DAS_Storage1/aschoi/data/Drug_Repositioning/8_new_training/new_predict/3_2_indep_descriptor.tsv")

In [21]:
gold.head(1)

,drug_id,disease_id,association,drStr_diGe,drStr_diPhe,drPhe_diGe,drPhe_diPhe
0,DB00114,102300,0,0.983534,0.429415,0.983534,0.943927

In [22]:
row

drug1           DB01620
disease1         607850
association           0
drStr_diGe     0.979048
drStr_diPhe    0.546869
drPhe_diGe     0.979356
drPhe_diPhe    0.979356
Name: 2398, dtype: object

In [23]:
temp = pd.DataFrame()
cnt = 0
print len(indep)
print 'start : ' + datetime.now().strftime('%Y-%m-%d %H:%M:%S')
for index, row in indep.iterrows():
    dr_id = row['drug_id']
    di_id = row['disease_id']
    found = gold[(gold.drug_id == dr_id) & (gold.disease_id == di_id)]
    if found.empty:
        cnt = cnt + 1
        continue
    else:
        temp = temp.append(found)
    cnt = cnt +1
    if cnt % 1000 == 0:
        print "cnt : {} : ".format(cnt) + datetime.now().strftime('%Y-%m-%d %H:%M:%S')
print 'end : ' + datetime.now().strftime('%Y-%m-%d %H:%M:%S')

2399
start : 2017-04-14 16:17:28
end : 2017-04-14 16:17:43

In [24]:
temp

Empty DataFrame
Columns: []
Index: []