In [2]:
import pandas as pd
import numpy as np

In [4]:
g_pos = pd.read_table("/DAS_Storage1/aschoi/data/Drug_Repositioning/data/desc_12/gold_pos_desc12.tsv")
g_neg = pd.read_table("/DAS_Storage1/aschoi/data/Drug_Repositioning/data/desc_12/gold_neg_desc12.tsv")
ind = pd.read_table("/DAS_Storage1/aschoi/data/Drug_Repositioning/data/desc_12/indep_desc12.tsv")
diGo = pd.read_table("/DAS_Storage1/aschoi/data/Drug_Repositioning/data/1_neg_didi_GoSim.tsv")
diHpo = pd.read_table("/DAS_Storage1/aschoi/data/Drug_Repositioning/data/1_neg_didi_HpoSim.tsv")
diPhe = pd.read_table("/DAS_Storage1/aschoi/data/Drug_Repositioning/data/1_neg_didi_PheSim.tsv")
drGo = pd.read_table("/DAS_Storage1/aschoi/data/Drug_Repositioning/data/1_neg_drdr_GoSim.tsv")
drStr = pd.read_table("/DAS_Storage1/aschoi/data/Drug_Repositioning/data/1_neg_drdr_StrSim.tsv")
drPhe = pd.read_table("/DAS_Storage1/aschoi/data/Drug_Repositioning/data/1_neg_drdr_PheSim.tsv")
drTar = pd.read_table("/DAS_Storage1/aschoi/data/Drug_Repositioning/data/1_neg_drdr_TarSim.tsv")

In [40]:
idiGo = pd.read_table("/DAS_Storage1/aschoi/data/Drug_Repositioning/data/3_indep_didi_goSim.tsv")
idiHpo = pd.read_table("/DAS_Storage1/aschoi/data/Drug_Repositioning/data/3_indep_didi_hpoSim.tsv")
idiPhe = pd.read_table("/DAS_Storage1/aschoi/data/Drug_Repositioning/data/3_indep_didi_pheSim.tsv")
idrGo = pd.read_table("/DAS_Storage1/aschoi/data/Drug_Repositioning/data/3_indep_drdr_goSim.tsv")
idrStr = pd.read_table("/DAS_Storage1/aschoi/data/Drug_Repositioning/data/3_indep_drdr_strSim.tsv")
idrPhe = pd.read_table("/DAS_Storage1/aschoi/data/Drug_Repositioning/data/3_indep_drdr_pheSim.tsv")
idrTar = pd.read_table("/DAS_Storage1/aschoi/data/Drug_Repositioning/data/3_indep_drdr_tarSim.tsv")

In [5]:
gold = pd.concat([g_pos, g_neg])

In [45]:
print len(ind.drug_id.drop_duplicates()), len(ind.disease_id.drop_duplicates())
ind.head(1)

71 34

,drug_id,disease_id,association,drStr_diGo,drStr_diHpo,drStr_diPhe,drPhe_diGo,drPhe_diHpo,drPhe_diPhe,drGo_diGo,drGo_diHpo,drGo_diPhe,drTar_diGo,drTar_diHpo,drTar_diPhe
0,DB00125,102300,0,0.484562,0.632456,0.632456,0.745309,0.972786,0.972786,0.353597,0.461519,0.461519,0.452769,0.467175,0.315289

In [49]:
gold.head(1)

,drug_id,disease_id,association,drStr_diGo,drStr_diHpo,drStr_diPhe,drPhe_diGo,drPhe_diHpo,drPhe_diPhe,drGo_diGo,drGo_diHpo,drGo_diPhe,drTar_diGo,drTar_diHpo,drTar_diPhe
0,DB00114,239350,1,0.661067,0.80403,0.80403,0.854511,0.962981,0.962981,0.459157,0.557674,0.557674,0.822192,1.0,1.0

In [52]:
idrGo.head(1)

   association  drGoSim gold_drug indep_drug
0            1    0.234   DB00659    DB01200

In [54]:
ids = g_pos[g_pos.disease_id == 103780]['drug_id'].drop_duplicates()
ids

68     DB00215
623    DB00659
685    DB00704
819    DB00822
898    DB00904
Name: drug_id, dtype: object

In [69]:
idrGo[(idrGo.gold_drug.isin(ids))&(idrGo.indep_drug == 'DB00176')].drop_duplicates(['gold_drug', 'indep_drug'])

         association  drGoSim gold_drug indep_drug
2874130            0    0.139   DB00659    DB00176
2874366            0    0.443   DB00215    DB00176
2874490            0    0.015   DB00822    DB00176
2874972            0    0.121   DB00704    DB00176
2875025            0    0.147   DB00904    DB00176

In [70]:
idrStr[(idrStr.gold_drug.isin(ids))&(idrStr.indep_drug == 'DB00176')].drop_duplicates(['gold_drug', 'indep_drug'])

         association  drStrSim gold_drug indep_drug
2874130            0  0.053571   DB00659    DB00176
2874366            0  0.312977   DB00215    DB00176
2874490            0  0.046729   DB00822    DB00176
2874972            0  0.229947   DB00704    DB00176
2875025            0  0.240223   DB00904    DB00176

In [71]:
idrPhe[(idrPhe.gold_drug.isin(ids))&(idrPhe.indep_drug == 'DB00176')].drop_duplicates(['gold_drug', 'indep_drug'])

         association  drPheSim gold_drug indep_drug
2874130            0  0.867137   DB00659    DB00176
2874366            0  0.725054   DB00215    DB00176
2874490            0  0.853037   DB00822    DB00176
2874972            0  0.853037   DB00704    DB00176
2875025            0  0.799349   DB00904    DB00176

In [72]:
idrTar[(idrTar.gold_drug.isin(ids))&(idrTar.indep_drug == 'DB00176')].drop_duplicates(['gold_drug', 'indep_drug'])

         association  drTarSim gold_drug indep_drug
2874130            0  0.020685   DB00659    DB00176
2874366            0  1.000000   DB00215    DB00176
2874490            0  0.015072   DB00822    DB00176
2874972            0  0.021860   DB00704    DB00176
2875025            0  0.021756   DB00904    DB00176

In [90]:
ind[(ind.drug_id == 'DB00176') & (ind.disease_id == 103780)]

,drug_id,disease_id,association,drStr_diGo,drStr_diHpo,drStr_diPhe,drPhe_diGo,drPhe_diHpo,drPhe_diPhe,drGo_diGo,drGo_diHpo,drGo_diPhe,drTar_diGo,drTar_diHpo,drTar_diPhe
103,DB00176,103780,0,0.563028,0.810822,0.559444,0.749603,0.931202,0.931202,0.535784,0.665582,0.665582,0.804984,1.0,1.0

In [73]:
ids2 = g_pos[(g_pos.drug_id == 'DB00176')]['disease_id'].drop_duplicates()
ids2

14    164230
Name: disease_id, dtype: int64

In [ ]:
idrTar[(idrTar.gold_drug.isin(ids))&(idrTar.indep_drug == 'DB00176')].drop_duplicates(['gold_drug', 'indep_drug'])

In [ ]:
idrTar[(idrTar.gold_drug.isin(ids))&(idrTar.indep_drug == 'DB00176')].drop_duplicates(['gold_drug', 'indep_drug'])

In [ ]:
idrTar[(idrTar.gold_drug.isin(ids))&(idrTar.indep_drug == 'DB00176')].drop_duplicates(['gold_drug', 'indep_drug'])

In [89]:
#idrStr[(idrStr.indep_drug == 'DB00176')&(idrStr.drStrSim !=  1)]
idiGo[(idiGo.indep_disease == 103780)].max()

association           1.000
diGoSim               0.648
gold_disease     608622.000
indep_disease    103780.000
dtype: float64

In [ ]:
idrStr[(idrStr.indep_drug == 'DB00176')&(idrStr.drStrSim !=  1)]

In [38]:
ind.head()

,drug_id,disease_id,association,drStr_diGo,drStr_diHpo,drStr_diPhe,drPhe_diGo,drPhe_diHpo,drPhe_diPhe,drGo_diGo,drGo_diHpo,drGo_diPhe,drTar_diGo,drTar_diHpo,drTar_diPhe
0,DB00125,102300,0,0.484562,0.632456,0.632456,0.745309,0.972786,0.972786,0.353597,0.461519,0.461519,0.452769,0.467175,0.315289
1,DB00125,103780,0,0.411825,0.506835,0.404520,0.779479,0.968316,0.968316,0.421788,0.439318,0.439318,0.644981,0.379749,0.353454
2,DB00125,104300,0,0.474701,0.583874,0.583874,0.873914,0.963825,0.963825,0.484071,0.515752,0.515752,0.682642,0.357869,0.474516
3,DB00125,115195,0,0.383578,0.418241,0.381616,0.756335,0.933819,0.933819,0.396201,0.488876,0.488876,0.577062,0.174921,0.229918
4,DB00125,137580,0,0.477912,0.545777,0.545777,0.816983,0.990738,0.990738,0.374273,0.453872,0.453872,0.384708,0.501640,0.367978

In [91]:
drStr_diGo = pd.read_table("/DAS_Storage1/aschoi/data/Drug_Repositioning/data/4_indep_descriptor_drStrdiGo.tsv")

In [94]:
drStr_diGo[(drStr_diGo.indep_drug == 'DB00176')&(drStr_diGo.indep_disease == 103780)]

    indep_drug  indep_disease  drStr_diGo
103    DB00176         103780    0.563028

In [97]:
drStr.head()

   drStrSim pos_drug query_drug
0  1.000000  DB00659    DB00659
1  0.125984  DB01193    DB00659
2  0.125984  DB01193    DB00659
3  0.171875  DB00316    DB00659
4  0.171875  DB00316    DB00659

In [112]:
# drStr + diGo
temp = pd.concat([idrStr, idiGo], axis=1)
drStr_diGo = temp[['indep_drug', 'indep_disease', 'gold_drug', 'gold_disease', 'drStrSim', 'diGoSim','association']]
drStr_diGo = drStr_diGo.loc[:,~drStr_diGo.columns.duplicated()]
del temp
drStr_diGo['drStr_diGo'] = np.sqrt(drStr_diGo['drStrSim'] * drStr_diGo['diGoSim'])
print len(drStr_diGo)
sub_drStr_diGo = drStr_diGo[['indep_drug', 'indep_disease', 'gold_drug', 'gold_disease', 'drStr_diGo', 'association']]
desc2 = sub_drStr_diGo.groupby(['indep_drug', 'indep_disease', 'association'])[['drStr_diGo']].max()
print len(desc2)

3190670
2399

In [131]:
# drStr + diHpo
temp = pd.concat([idrStr, idiHpo], axis=1)
drStr_diHpo = temp[['indep_drug', 'indep_disease', 'gold_drug', 'gold_disease', 'drStrSim', 'diHpoSim','association']]
drStr_diHpo = drStr_diHpo.loc[:,~drStr_diHpo.columns.duplicated()]
del temp
drStr_diHpo['drStr_diHpo'] = np.sqrt(drStr_diHpo['drStrSim'] * drStr_diHpo['diHpoSim'])
print len(drStr_diHpo)
sub_drStr_diHpo = drStr_diHpo[['indep_drug', 'indep_disease', 'gold_drug', 'gold_disease', 'drStr_diHpo', 'association']]
desc2 = sub_drStr_diHpo.groupby(['indep_drug', 'indep_disease', 'association'])[['drStr_diHpo']].max()
print len(desc2)

3190670
2399

In [132]:
# drStr + diPhe
temp = pd.concat([idrStr, idiPhe], axis=1)
drStr_diPhe = temp[['indep_drug', 'indep_disease', 'gold_drug', 'gold_disease', 'drStrSim', 'diPheSim','association']]
drStr_diPhe = drStr_diPhe.loc[:,~drStr_diPhe.columns.duplicated()]
del temp
drStr_diPhe['drStr_diPhe'] = np.sqrt(drStr_diPhe['drStrSim'] * drStr_diPhe['diPheSim'])
print len(drStr_diPhe)
sub_drStr_diPhe = drStr_diPhe[['indep_drug', 'indep_disease', 'gold_drug', 'gold_disease', 'drStr_diPhe', 'association']]
desc2 = sub_drStr_diPhe.groupby(['indep_drug', 'indep_disease', 'association'])[['drStr_diPhe']].max()
print len(desc2)

3190670
2399

In [113]:
# drPhe + diGo
temp = pd.concat([idrPhe, idiGo], axis=1)
drPhe_diGo = temp[['indep_drug', 'indep_disease', 'gold_drug', 'gold_disease', 'drPheSim', 'diGoSim','association']]
drPhe_diGo = drPhe_diGo.loc[:,~drPhe_diGo.columns.duplicated()]
del temp
drPhe_diGo['drPhe_diGo'] = np.sqrt(drPhe_diGo['drPheSim'] * drPhe_diGo['diGoSim'])
print len(drPhe_diGo)
sub_drPhe_diGo = drPhe_diGo[['indep_drug', 'indep_disease', 'gold_drug', 'gold_disease', 'drPhe_diGo', 'association']]
desc3 = sub_drPhe_diGo.groupby(['indep_drug', 'indep_disease', 'association'])[['drPhe_diGo']].max()
print len(desc2)

3190670
2399

In [133]:
# drPhe + diHpo
temp = pd.concat([idrPhe, idiHpo], axis=1)
drPhe_diHpo = temp[['indep_drug', 'indep_disease', 'gold_drug', 'gold_disease', 'drPheSim', 'diHpoSim','association']]
drPhe_diHpo = drPhe_diHpo.loc[:,~drPhe_diHpo.columns.duplicated()]
del temp
drPhe_diHpo['drPhe_diHpo'] = np.sqrt(drPhe_diHpo['drPheSim'] * drPhe_diHpo['diHpoSim'])
print len(drPhe_diHpo)
sub_drPhe_diHpo = drPhe_diHpo[['indep_drug', 'indep_disease', 'gold_drug', 'gold_disease', 'drPhe_diHpo', 'association']]
desc2 = sub_drPhe_diHpo.groupby(['indep_drug', 'indep_disease', 'association'])[['drPhe_diHpo']].max()
print len(desc2)

3190670
2399

In [134]:
# drPhe + diPhe
temp = pd.concat([idrPhe, idiPhe], axis=1)
drPhe_diPhe = temp[['indep_drug', 'indep_disease', 'gold_drug', 'gold_disease', 'drPheSim', 'diPheSim','association']]
drPhe_diPhe = drPhe_diPhe.loc[:,~drPhe_diPhe.columns.duplicated()]
del temp
drPhe_diPhe['drPhe_diPhe'] = np.sqrt(drPhe_diPhe['drPheSim'] * drPhe_diPhe['diPheSim'])
print len(drPhe_diPhe)
sub_drPhe_diPhe = drPhe_diPhe[['indep_drug', 'indep_disease', 'gold_drug', 'gold_disease', 'drPhe_diPhe', 'association']]
desc2 = sub_drPhe_diPhe.groupby(['indep_drug', 'indep_disease', 'association'])[['drPhe_diPhe']].max()
print len(desc2)

3190670
2399

In [135]:
# drGo + diGo
temp = pd.concat([idrGo, idiGo], axis=1)
drGo_diGo = temp[['indep_drug', 'indep_disease', 'gold_drug', 'gold_disease', 'drGoSim', 'diGoSim','association']]
drGo_diGo = drGo_diGo.loc[:,~drGo_diGo.columns.duplicated()]
del temp
drGo_diGo['drGo_diGo'] = np.sqrt(drGo_diGo['drGoSim'] * drGo_diGo['diGoSim'])
print len(drGo_diGo)
sub_drGo_diGo = drGo_diGo[['indep_drug', 'indep_disease', 'gold_drug', 'gold_disease', 'drGo_diGo', 'association']]
desc2 = sub_drGo_diGo.groupby(['indep_drug', 'indep_disease', 'association'])[['drGo_diGo']].max()
print len(desc2)

3190670
2399

In [136]:
# drGo + diHpo
temp = pd.concat([idrGo, idiHpo], axis=1)
drGo_diHpo = temp[['indep_drug', 'indep_disease', 'gold_drug', 'gold_disease', 'drGoSim', 'diHpoSim','association']]
drGo_diHpo = drGo_diHpo.loc[:,~drGo_diHpo.columns.duplicated()]
del temp
drGo_diHpo['drGo_diHpo'] = np.sqrt(drGo_diHpo['drGoSim'] * drGo_diHpo['diHpoSim'])
print len(drGo_diHpo)
sub_drGo_diHpo = drGo_diHpo[['indep_drug', 'indep_disease', 'gold_drug', 'gold_disease', 'drGo_diHpo', 'association']]
desc2 = sub_drGo_diHpo.groupby(['indep_drug', 'indep_disease', 'association'])[['drGo_diHpo']].max()
print len(desc2)

3190670
2399

In [137]:
# drGo + diPhe
temp = pd.concat([idrGo, idiPhe], axis=1)
drGo_diPhe = temp[['indep_drug', 'indep_disease', 'gold_drug', 'gold_disease', 'drGoSim', 'diPheSim','association']]
drGo_diPhe = drGo_diPhe.loc[:,~drGo_diPhe.columns.duplicated()]
del temp
drGo_diPhe['drGo_diPhe'] = np.sqrt(drGo_diPhe['drGoSim'] * drGo_diPhe['diPheSim'])
print len(drGo_diPhe)
sub_drGo_diPhe = drGo_diPhe[['indep_drug', 'indep_disease', 'gold_drug', 'gold_disease', 'drGo_diPhe', 'association']]
desc2 = sub_drGo_diPhe.groupby(['indep_drug', 'indep_disease', 'association'])[['drGo_diPhe']].max()
print len(desc2)

3190670
2399

In [138]:
# drTar + diGo
temp = pd.concat([idrTar, idiGo], axis=1)
drTar_diGo = temp[['indep_drug', 'indep_disease', 'gold_drug', 'gold_disease', 'drTarSim', 'diGoSim','association']]
drTar_diGo = drTar_diGo.loc[:,~drTar_diGo.columns.duplicated()]
del temp
drTar_diGo['drTar_diGo'] = np.sqrt(drTar_diGo['drTarSim'] * drTar_diGo['diGoSim'])
print len(drTar_diGo)
sub_drTar_diGo = drTar_diGo[['indep_drug', 'indep_disease', 'gold_drug', 'gold_disease', 'drTar_diGo', 'association']]
desc2 = sub_drTar_diGo.groupby(['indep_drug', 'indep_disease', 'association'])[['drTar_diGo']].max()
print len(desc2)

3190670
2399

In [139]:
# drTar + diHpo
temp = pd.concat([idrTar, idiHpo], axis=1)
drTar_diHpo = temp[['indep_drug', 'indep_disease', 'gold_drug', 'gold_disease', 'drTarSim', 'diHpoSim','association']]
drTar_diHpo = drTar_diHpo.loc[:,~drTar_diHpo.columns.duplicated()]
del temp
drTar_diHpo['drTar_diHpo'] = np.sqrt(drTar_diHpo['drTarSim'] * drTar_diHpo['diHpoSim'])
print len(drTar_diHpo)
sub_drTar_diHpo = drTar_diHpo[['indep_drug', 'indep_disease', 'gold_drug', 'gold_disease', 'drTar_diHpo', 'association']]
desc2 = sub_drTar_diHpo.groupby(['indep_drug', 'indep_disease', 'association'])[['drTar_diHpo']].max()
print len(desc2)

3190670
2399

In [140]:
# drTar + diPhe
temp = pd.concat([idrTar, idiPhe], axis=1)
drTar_diPhe = temp[['indep_drug', 'indep_disease', 'gold_drug', 'gold_disease', 'drTarSim', 'diPheSim','association']]
drTar_diPhe = drTar_diPhe.loc[:,~drTar_diPhe.columns.duplicated()]
del temp
drTar_diPhe['drTar_diPhe'] = np.sqrt(drTar_diPhe['drTarSim'] * drTar_diPhe['diPheSim'])
print len(drTar_diPhe)
sub_drTar_diPhe = drTar_diPhe[['indep_drug', 'indep_disease', 'gold_drug', 'gold_disease', 'drTar_diPhe', 'association']]
desc2 = sub_drTar_diPhe.groupby(['indep_drug', 'indep_disease', 'association'])[['drTar_diPhe']].max()
print len(desc2)

3190670
2399

In [104]:
desc2.loc['DB00176', 103780]

             drStr_diGo
association
0              0.563028

In [114]:
desc3.loc['DB00176', 103780]

             drPhe_diGo
association
0              0.749603

In [116]:
drStr_diGo[(drStr_diGo.indep_drug == 'DB00176')&(drStr_diGo.indep_disease == 103780)].sort_values('drStr_diGo', ascending=False).head(1)

,indep_drug,indep_disease,gold_drug,gold_disease,drStrSim,diGoSim,association,drStr_diGo
2875959,DB00176,103780,DB00176,164230,1.0,0.317,0,0.563028

In [117]:
drPhe_diGo[(drPhe_diGo.indep_drug == 'DB00176')&(drPhe_diGo.indep_disease == 103780)].sort_values('drPhe_diGo', ascending=False).head(1)

,indep_drug,indep_disease,gold_drug,gold_disease,drPheSim,diGoSim,association,drPhe_diGo
2875460,DB00176,103780,DB00659,103780,0.867137,0.648,0,0.749603

In [118]:
g_pos[(g_pos.disease_id == 103780)]['drug_id']

68     DB00215
623    DB00659
685    DB00704
819    DB00822
898    DB00904
Name: drug_id, dtype: object

In [122]:
ind.drug_id[~ind.drug_id.isin(g_pos.drug_id)].drop_duplicates()

0       DB00125
202     DB00253
270     DB00283
304     DB00286
405     DB00341
708     DB00528
842     DB00589
1042    DB00700
1076    DB00748
1144    DB00780
1178    DB00784
1381    DB00906
1517    DB00950
1652    DB00967
1720    DB01026
1754    DB01037
1822    DB01071
1856    DB01077
1924    DB01100
1958    DB01146
2195    DB01393
2297    DB01586
2331    DB01611
2365    DB01620
Name: drug_id, dtype: object

In [127]:
ind[(ind.drug_id == "DB01077")&(ind.association == 1)].disease_id.drop_duplicates()

1884    602080
Name: disease_id, dtype: int64

In [153]:
# pazet 병
drStr_diGo[(drStr_diGo.indep_drug == 'DB01077')&(drStr_diGo.indep_disease == 166710)].sort_values('drStr_diGo', ascending=False).head(1)

,indep_drug,indep_disease,gold_drug,gold_disease,drStrSim,diGoSim,association,drStr_diGo
1991939,DB01077,166710,DB00282,166710,0.657143,0.675,0,0.666012

In [141]:
# pazet 병
drStr_diHpo[(drStr_diHpo.indep_drug == 'DB01077')&(drStr_diHpo.indep_disease == 166710)].sort_values('drStr_diHpo', ascending=False).head(1)

,indep_drug,indep_disease,gold_drug,gold_disease,drStrSim,diHpoSim,association,drStr_diHpo
1991939,DB01077,166710,DB00282,166710,0.657143,1.0,0,0.810643

In [142]:
# pazet 병
drStr_diGo[(drStr_diGo.indep_drug == 'DB01077')&(drStr_diGo.indep_disease == 166710)].sort_values('drStr_diGo', ascending=False).head(1)

,indep_drug,indep_disease,gold_drug,gold_disease,drStrSim,diGoSim,association,drStr_diGo
1991939,DB01077,166710,DB00282,166710,0.657143,0.675,0,0.666012

In [143]:
# pazet 병
drPhe_diGo[(drPhe_diGo.indep_drug == 'DB01077')&(drPhe_diGo.indep_disease == 166710)].sort_values('drPhe_diGo', ascending=False).head(1)

,indep_drug,indep_disease,gold_drug,gold_disease,drPheSim,diGoSim,association,drPhe_diGo
1991939,DB01077,166710,DB00282,166710,0.866052,0.675,0,0.764582

In [161]:
# pazet 병
drPhe_diHpo[(drPhe_diHpo.indep_drug == 'DB01077')&(drPhe_diHpo.indep_disease == 166710)].sort_values('drPhe_diHpo', ascending=False).head(1)

,indep_drug,indep_disease,gold_drug,gold_disease,drPheSim,diHpoSim,association,drPhe_diHpo
1991939,DB01077,166710,DB00282,166710,0.866052,1.0,0,0.930619

In [165]:
# pazet 병
drPhe_diPhe[(drPhe_diPhe.indep_drug == 'DB01077')&(drPhe_diPhe.indep_disease == 166710)].sort_values('drPhe_diPhe', ascending=False).head(1)

,indep_drug,indep_disease,gold_drug,gold_disease,drPheSim,diPheSim,association,drPhe_diPhe
1991939,DB01077,166710,DB00282,166710,0.866052,1.0,0,0.930619

In [157]:
# pazet 병
drGo_diGo[(drGo_diGo.indep_drug == 'DB01077')&(drGo_diGo.indep_disease == 166710)].sort_values('drGo_diGo', ascending=False).head(1)

,indep_drug,indep_disease,gold_drug,gold_disease,drGoSim,diGoSim,association,drGo_diGo
1991028,DB01077,166710,DB00630,166710,0.289,0.675,0,0.441673

In [166]:
# pazet 병 (확인)
drGo_diGo[(drGo_diGo.indep_drug == 'DB01077')&(drGo_diGo.indep_disease == 166710)&(drGo_diGo.gold_drug == 'DB00282')].sort_values('drGo_diGo', ascending=False).head(1)

,indep_drug,indep_disease,gold_drug,gold_disease,drGoSim,diGoSim,association,drGo_diGo
1991939,DB01077,166710,DB00282,166710,0.105,0.675,0,0.266224

In [147]:
# pazet 병
drGo_diHpo[(drGo_diHpo.indep_drug == 'DB01077')&(drGo_diHpo.indep_disease== 166710)].sort_values('drGo_diHpo', ascending=False).head(1)

,indep_drug,indep_disease,gold_drug,gold_disease,drGoSim,diHpoSim,association,drGo_diHpo
1991028,DB01077,166710,DB00630,166710,0.289,1.0,0,0.537587

In [168]:
# pazet 병 (확인)
drGo_diHpo[(drGo_diHpo.indep_drug == 'DB01077')&(drGo_diHpo.indep_disease == 166710)&(drGo_diHpo.gold_drug == 'DB00282')].sort_values('drGo_diHpo', ascending=False).head(1)

,indep_drug,indep_disease,gold_drug,gold_disease,drGoSim,diHpoSim,association,drGo_diHpo
1991939,DB01077,166710,DB00282,166710,0.105,1.0,0,0.324037

In [148]:
# pazet 병
drGo_diPhe[(drGo_diPhe.indep_drug == 'DB01077')&(drGo_diPhe.indep_disease== 166710)].sort_values('drGo_diPhe', ascending=False).head(1)

,indep_drug,indep_disease,gold_drug,gold_disease,drGoSim,diPheSim,association,drGo_diPhe
1991028,DB01077,166710,DB00630,166710,0.289,1.0,0,0.537587

In [169]:
# pazet 병 (확인)
drGo_diPhe[(drGo_diPhe.indep_drug == 'DB01077')&(drGo_diPhe.indep_disease == 166710)&(drGo_diPhe.gold_drug == 'DB00282')].sort_values('drGo_diPhe', ascending=False).head(1)

,indep_drug,indep_disease,gold_drug,gold_disease,drGoSim,diPheSim,association,drGo_diPhe
1991939,DB01077,166710,DB00282,166710,0.105,1.0,0,0.324037

In [149]:
# pazet 병
drTar_diGo[(drTar_diGo.indep_drug == 'DB01077')&(drTar_diGo.indep_disease== 166710)].sort_values('drTar_diGo', ascending=False).head(1)

,indep_drug,indep_disease,gold_drug,gold_disease,drTarSim,diGoSim,association,drTar_diGo
1991028,DB01077,166710,DB00630,166710,1.0,0.675,0,0.821584

In [170]:
# pazet 병 (확인)
drTar_diGo[(drTar_diGo.indep_drug == 'DB01077')&(drTar_diGo.gold_drug == "DB00282")].sort_values('drTar_diGo', ascending=False).head(1)

,indep_drug,indep_disease,gold_drug,gold_disease,drTarSim,diGoSim,association,drTar_diGo
1991939,DB01077,166710,DB00282,166710,0.016489,0.675,0,0.105499

In [150]:
# pazet 병
drTar_diHpo[(drTar_diHpo.indep_drug == 'DB01077')&(drTar_diHpo.indep_disease== 166710)].sort_values('drTar_diHpo', ascending=False).head(1)

,indep_drug,indep_disease,gold_drug,gold_disease,drTarSim,diHpoSim,association,drTar_diHpo
1991028,DB01077,166710,DB00630,166710,1.0,1.0,0,1.0

In [172]:
# pazet 병 (확인)
drTar_diHpo[(drTar_diHpo.indep_drug == 'DB01077')&(drTar_diHpo.gold_drug == "DB00282")].sort_values('drTar_diHpo', ascending=False).head(1)

,indep_drug,indep_disease,gold_drug,gold_disease,drTarSim,diHpoSim,association,drTar_diHpo
1991939,DB01077,166710,DB00282,166710,0.016489,1.0,0,0.128409

In [151]:
# pazet 병
drTar_diPhe[(drTar_diPhe.indep_drug == 'DB01077')&(drTar_diPhe.indep_disease== 166710)].sort_values('drTar_diPhe', ascending=False).head(1)

,indep_drug,indep_disease,gold_drug,gold_disease,drTarSim,diPheSim,association,drTar_diPhe
1991028,DB01077,166710,DB00630,166710,1.0,1.0,0,1.0

In [171]:
# pazet 병 (확인)
drTar_diPhe[(drTar_diPhe.indep_drug == 'DB01077')&(drTar_diPhe.gold_drug == "DB00282")].sort_values('drTar_diPhe', ascending=False).head(1)

,indep_drug,indep_disease,gold_drug,gold_disease,drTarSim,diPheSim,association,drTar_diPhe
1991939,DB01077,166710,DB00282,166710,0.016489,1.0,0,0.128409

In [178]:
# pazet 병
drStr_diGo[(drStr_diGo.indep_drug == 'DB01077')&(drStr_diGo.indep_disease == 166710)&(drStr_diGo.gold_drug == 'DB00630')].sort_values('drStr_diGo', ascending=False).head(1)

,indep_drug,indep_disease,gold_drug,gold_disease,drStrSim,diGoSim,association,drStr_diGo
1991028,DB01077,166710,DB00630,166710,0.575,0.675,0,0.622997

In [177]:
# pazet 병
drPhe_diGo[(drPhe_diGo.indep_drug == 'DB01077')&(drPhe_diGo.indep_disease == 166710)&(drPhe_diGo.gold_drug == 'DB00630')].sort_values('drPhe_diGo', ascending=False).head(1)

,indep_drug,indep_disease,gold_drug,gold_disease,drPheSim,diGoSim,association,drPhe_diGo
1991028,DB01077,166710,DB00630,166710,0.781996,0.675,0,0.726531

In [130]:
ind[(ind.drug_id == "DB01077") &(ind.disease_id == 166710)]# pazet 병
drPhe_diGo[(drPhe_diGo.indep_drug == 'DB01077')&(drPhe_diGo.indep_disease == 166710)&(drPhe_diGo.gold_drug == 'DB00630')].sort_values('drPhe_diGo', ascending=False).head(1)

,drug_id,disease_id,association,drStr_diGo,drStr_diHpo,drStr_diPhe,drPhe_diGo,drPhe_diHpo,drPhe_diPhe,drGo_diGo,drGo_diHpo,drGo_diPhe,drTar_diGo,drTar_diHpo,drTar_diPhe
1869,DB01077,166710,0,0.666012,0.810643,0.810643,0.764582,0.930619,0.930619,0.441673,0.537587,0.537587,0.821584,1.0,1.0