In [2]:
import numpy as np
#import matplotlib.pyplot as plt

from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler

In [3]:
import pandas as pd

In [4]:
asso = pd.read_table("/DAS_Storage1/aschoi/data/Drug_Repositioning/7_new_association/8_gold_standard_association_bianry_matrix.tsv", index_col = 0)
drug = pd.read_table("/DAS_Storage1/aschoi/data/Drug_Repositioning/5_new_drug/8_gold_standard_drug_binary_matrix.tsv", index_col = 0)
disease = pd.read_table("/DAS_Storage1/aschoi/data/Drug_Repositioning/6_new_disease/8_gold_standard_disease_binary_matrix.tsv", index_col = 0)

In [ ]:
"""
asso.values[:, :1] # asso의 drug
asso.columns.values[1:] # asso의 disease
"""

In [ ]:
"""
df_asso 만드는 코드

df_asso = pd.DataFrame()
for drug_id in asso.index.values:
    for disease_id in asso.columns.values:
        temp_df = pd.DataFrame([[drug_id, disease_id, asso[disease_id].loc[drug_id]]], columns = ['drug', 'disease', 'association'])
        df_asso = df_asso.append(temp_df)
        
"""

In [ ]:
#df_asso.to_csv("/DAS_Storage1/aschoi/data/Drug_Repositioning/8_new_training/1_association.tsv", sep="\t", index=False)

In [7]:
df_asso = pd.read_table("/DAS_Storage1/aschoi/data/Drug_Repositioning/8_new_training/1_association.tsv")

In [10]:
print len(df_asso)
df_asso.values

110685

array([['DB00190', 102300, 1],
       ['DB00190', 102400, 0],
       ['DB00190', 102500, 0],
       ...,
       ['DB00775', 608320, 1],
       ['DB00775', 608583, 0],
       ['DB00775', 608622, 0]], dtype=object)

In [11]:
y = df_asso.values[:, 2]
print len(y)

110685

In [12]:
drug.head(1)

,DB00215,DB01327,DB00537,DB00175,DB00181,DB00257,DB00343,DB01128,DB00678,DB00808,...,DB01098,DB01033,DB01254,DB01261,DB00323,DB00287,DB00905,DB01088,DB01268,DB01590
C0000737,1,1,1,1,1,1,1,1,1,1,...,1,1,0,0,0,1,0,0,0,1

In [13]:
disease.head(1)

,102300,102400,102500,103780,104130,104300,106400,107650,109100,109200,...,607631,607681,607682,607850,608088,608105,608217,608320,608583,608622
100188812,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [17]:
"""
tensor dot

arr = np.empty((0,8013796), dtype=np.int64)
for i in df_asso.values:
    disease_id = i[1]
    drug_id = i[0]
    feature = np.tensordot(disease[disease_id].values, drug[drug_id].values, axes = 0).reshape(1,8013796)[0]
    arr = np.vstack([arr, feature])
"""

hi

'\narr = np.empty((0,8013796), dtype=np.int64)\nfor i in df_asso.values:\n    disease_id = i[1]\n    drug_id = i[0]\n    feature = np.tensordot(disease[disease_id].values, drug[drug_id].values, axes = 0).reshape(1,8013796)[0]\n    arr = np.vstack([arr, feature])\n'

In [ ]:
from sklearn.cross_validation import train_test_split
X_train, X_test, y_train, y_test = train_test_split(arr, y, test_size = 0.25, random_state = 33)
print X_train.shape, y_train.shape

In [ ]:
Y_train = list(y_train)

In [ ]:
for i, C in enumerate((100, 1, 0.01)):
    clf_l1_LR = LogisticRegression(C=C, penalty='l1', tol= 0.01)
    #clf_l1_LR.fit(X_train, y_train)
    clf_l1_LR.fit(X_train, Y_train)
    
    coef_l1_LR = clf_l1_LR.coef_.ravel()
    
    sparsity_l1_LR = np.mean(coef_l1_LR == 0) * 100

In [ ]:
from sklearn import metrics
y_train_pred = clf_l1_LR.predict(X_train)
print metrics.accuracy_score(Y_train, y_train_pred)

In [ ]:
y_pred = clf_l1_LR.predict(X_test)
print metrics.accuracy_score(list(y_test), y_pred)

In [ ]:
print metrics.classification_report(list(y_test), y_pred)