In [1]:
import csv
import numpy as np
import os
import pandas as pd
import time

In [4]:
gold_disease = pd.read_table("/DAS_Storage1/aschoi/data/Drug_Repositioning/6_new_disease/8_gold_standard_disease_binary_matrix.tsv", index_col=0)

In [7]:
gold_disease.head()

,102300,102400,102500,103780,104130,104300,106400,107650,109100,109200,...,607631,607681,607682,607850,608088,608105,608217,608320,608583,608622
100188812,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
100188813,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
100188839,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
100302512,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
100302561,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [30]:
from sklearn.metrics import jaccard_similarity_score
df_jac = pd.DataFrame()
disease_id = gold_disease.columns.tolist()
for i in disease_id:
    desc1 = gold_disease[i]
    for j in disease_id:
        desc2 = gold_disease[j]
        jac_sim = jaccard_similarity_score(desc1,desc2)
        
        temp_df = pd.DataFrame([[i, j, jac_sim]], columns = ['Disease_ID1','Disease_ID2', 'Similarity_Score'])
        df_jac = df_jac.append(temp_df)

In [26]:
df_jac.to_csv("/home/share/aschoi/nas/users/asolchoi/data/Drug_Repositioning/6_new_disease/9_gold_disease_similarity_genetic.tsv", sep='\t', index=False)
df_jac.to_csv("/DAS_Storage1/aschoi/data/Drug_Repositioning/6_new_disease/9_gold_disease_similarity_genetic.tsv", sep='\t', index=False)

In [33]:
df_jac = pd.read_table("/DAS_Storage1/aschoi/data/Drug_Repositioning/6_new_disease/9_gold_disease_similarity_genetic.tsv")

In [35]:
df_jac[df_jac.Similarity_Score != 1].sort_values('Similarity_Score').head()

       Disease_ID1  Disease_ID2  Similarity_Score
43088       303110       165199          0.826186
19688       165199       303110          0.826186
19606       165199       181500          0.830446
23818       181500       165199          0.830446
39563       264120       165199          0.831014

In [45]:
df_mim = pd.read_table("/DAS_Storage1/aschoi/data/Drug_Repositioning/6_new_disease/MimMiner.txt", header=None)

In [48]:
df_mim.head(2)

,0,1,2,3,4,5,6,7,8,9,...,5071,5072,5073,5074,5075,5076,5077,5078,5079,5080
0,100050,1.000000,0.089034,0.361651,0.266263,0.368639,0.197142,0.067881,0.203997,0.238039,...,0.000000,0.056732,0.092064,0.049227,0.178066,0.132249,0.118521,0.157154,0.163718,0.195514
1,100070,0.089034,1.000000,0.087366,0.026785,0.148069,0.233403,0.125448,0.072799,0.089556,...,0.099061,0.000000,0.113751,0.000000,0.122792,0.130740,0.161343,0.031409,0.137056,0.041865

In [51]:
omim_id = df_mim[0].tolist() # 첫번 째  컬럼이 omim의 id임.
df_omim2 = df_mim[[x+1 for x in range(5080)]] # 1부터 마지막 column 선택 위해
df_omim2.columns = omim_id
df_omim2.index = omim_id

In [72]:
int_disease_id = [int(x) for x in disease_id]

In [80]:
temp = df_omim2.filter(items = int_disease_id)
temp2 = temp.filter(items = int_disease_id, axis=0)

In [82]:
temp2.to_csv("/home/share/aschoi/nas/users/asolchoi/data/Drug_Repositioning/6_new_disease/9_gold_disease_similarity_mimminer.tsv", sep='\t')
temp2.to_csv("/DAS_Storage1/aschoi/data/Drug_Repositioning/6_new_disease/9_gold_disease_similarity_mimminerc.tsv", sep='\t')